<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.finance.mapper.IAccountMapper">
	<resultMap type="com.myself.finance.entity.Account" id="accountResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="BALANCE" property="balance" jdbcType="NUMERIC" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sqlQuery">
		FROM PRODUCT a where 1=1
		<if test="param.name != null and param.name != ''">
			and a.NAME = #{param.name}
		</if>
	</sql>
	
	<select id="getData" resultMap="accountResult">
		SELECT * FROM ACCOUNT WHERE 1=1
		<if test="id != null and id != ''">
			AND ID = #{id, jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId != ''">
			AND USER_ID = #{userId, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="accountResult">
		SELECT a.* FROM <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start}, #{end}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ACCOUNT (ID, USER_ID, NAME, STATUS, BALANCE, CREATE_TIME, REMARKS)
		VALUES (
#{id, jdbcType=VARCHAR},
#{userId, jdbcType=VARCHAR},
#{name, jdbcType=VARCHAR},
#{status, jdbcType=VARCHAR},
#{balance, jdbcType=NUMERIC},
#{createTime, jdbcType=TIMESTAMP},
#{remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update ACCOUNT
		<set>
<if test="balance != 0">
	BALANCE = #{balance, jdbcType=NUMERIC},
</if>
UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP},
		</set>
		where id = #{id, jdbcType=NUMERIC} AND USER_ID = #{userId, jdbcType=VARCHAR}
	</update>
</mapper>