<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.finance.mapper.IPermissionMapper">
	<resultMap type="com.myself.finance.entity.Permission" id="permissionResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<id column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="TAG" property="tag" jdbcType="VARCHAR" />
<result column="URL" property="url" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.myself.finance.entity.RolePermission" id="rolePermissionResult">
	    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
	    <result column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="sqlQuery">
		FROM PERMISSION a where 1=1
		<if test="param.name != null and param.name != ''">
			and NAME = #{param.name}
		</if>
	</sql>
	
	<select id="queryPermissionsByRoleId" resultMap="permissionResult">
		SELECT a.* FROM PERMISSION a, ROLE_PERMISSION b WHERE a.ID = b.PERMISSION_ID AND b.ROLE_ID = #{roleId}
	</select>
	<select id="tree" resultMap="permissionResult">
		SELECT a.* FROM PERMISSION a order by a.CREATE_TIME desc
	</select>
	<select id="list" resultMap="permissionResult">
		SELECT a.* FROM PERMISSION a where 1=1
		<if test="param.parentId != null and param.parentId != ''">
			and PARENT_ID = #{param.parentId}
		</if>
		<if test="param.parentId == null or param.parentId == ''">
			and PARENT_ID is null
		</if>
		order by a.CREATE_TIME desc
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="permissionResult">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start}, #{end}
	</select>
	<select id="getData" resultMap="permissionResult">
		SELECT a.* FROM PERMISSION a WHERE 1=1 and a.ID = #{param.id}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO PERMISSION (ID, PARENT_ID, NAME, TAG, URL, STATUS, CREATE_TIME, REMARKS)
		VALUES (
#{param.id, jdbcType=VARCHAR},
#{param.parentId, jdbcType=VARCHAR},
#{param.name, jdbcType=VARCHAR},
#{param.tag, jdbcType=VARCHAR},
#{param.url, jdbcType=VARCHAR},
#{param.status, jdbcType=VARCHAR},
#{param.createTime, jdbcType=TIMESTAMP},
#{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update PERMISSION
		<set>
		<if test="param.name != null and param.name != ''">
			NAME = #{param.name},
		</if>
		<if test="param.tag != null and param.tag != ''">
			TAG = #{param.tag},
		</if>
		URL = #{param.url},
		UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP}
		</set>
		where id = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<delete id="delete">
		delete from PERMISSION where id = #{param.id, jdbcType=VARCHAR}
	</delete>
	
	<insert id="saveRolePermissions">
		INSERT INTO ROLE_PERMISSION (ROLE_ID, PERMISSION_ID)
		VALUES 
		<foreach collection="param" item="item" index="index" separator=",">
		(
		#{item.roleId, jdbcType=VARCHAR},
		#{item.permissionId, jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
	<select id="queryRolePermissionsByRoleId" resultMap="rolePermissionResult">
		SELECT a.* FROM ROLE_PERMISSION a WHERE a.ROLE_ID = #{roleId}
	</select>
	<delete id="deleteRolePermissionsByRoleId">
		delete from ROLE_PERMISSION a where a.ROLE_ID = #{roleId, jdbcType=VARCHAR}
	</delete>
</mapper>