<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.finance.mapper.IProductMapper">
	<resultMap type="com.myself.finance.entity.Product" id="productResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
<result column="TITLE" property="title" jdbcType="VARCHAR" />
<result column="LEVEL" property="level" jdbcType="VARCHAR" />
<result column="YEAR_RATE" property="yearRate" jdbcType="NUMERIC" />
<result column="MONEY" property="money" jdbcType="NUMERIC" />
<result column="TERM" property="term" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sqlQuery">
		FROM PRODUCT a where 1=1
		<if test="param.name != null and param.name != ''">
			and NAME = #{param.name}
		</if>
	</sql>
	
	<select id="getData" resultMap="productResult">
		SELECT * FROM PRODUCT WHERE ID=#{id, jdbcType=VARCHAR}
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="productResult">
		SELECT * <include refid="sqlQuery"/> 
			order by CREATE_TIME desc limit #{start}, #{end}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO PRODUCT (ID, NAME, STATUS, CREATE_TIME, REMARKS)
		VALUES (
#{id, jdbcType=VARCHAR},
#{name, jdbcType=VARCHAR},
#{status, jdbcType=VARCHAR},
#{createTime, jdbcType=TIMESTAMP},
#{remarks, jdbcType=VARCHAR})
	</insert>
</mapper>