<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.finance.mapper.IRoleMapper">
	<resultMap type="com.myself.finance.entity.Role" id="roleResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="TAG" property="tag" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.myself.finance.entity.UserRole" id="userRoleResult">
	    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
	    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="sqlQuery">
		FROM ROLE a where 1=1
		<if test="param.name != null and param.name != ''">
			and a.NAME = #{param.name}
		</if>
	</sql>
	
	<select id="getData" resultMap="roleResult">
		SELECT a.* FROM ROLE a WHERE a.ID=#{param.id, jdbcType=VARCHAR}
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="roleResult">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start}, #{end}
	</select>
	<select id="list" resultMap="roleResult">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc
	</select>
	<select id="queryRolesByUserId" resultMap="roleResult">
		SELECT a.* FROM ROLE a, USER_ROLE b WHERE a.ID = b.ROLE_ID AND b.USER_ID = #{userId}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ROLE (ID, NAME, TAG, STATUS, CREATE_TIME, REMARKS)
		VALUES (
#{param.id, jdbcType=VARCHAR},
#{param.name, jdbcType=VARCHAR},
#{param.tag, jdbcType=VARCHAR},
#{param.status, jdbcType=VARCHAR},
#{param.createTime, jdbcType=TIMESTAMP},
#{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update ROLE a
		<set>
		<if test="param.name != null and param.name != ''">
			a.NAME = #{param.name},
		</if>
		<if test="param.tag != null and param.tag != ''">
			a.TAG = #{param.tag}
		</if>
		</set>
		where a.id = #{param.id, jdbcType=VARCHAR}
	</update>
	<delete id="delete">
		delete from ROLE a where a.id = #{param.id, jdbcType=VARCHAR}
	</delete>
	
	<select id="queryUserRolesByUserId" resultMap="userRoleResult">
		SELECT a.* FROM USER_ROLE a WHERE a.USER_ID = #{userId}
	</select>
	<insert id="saveUserRoles">
		INSERT INTO USER_ROLE (USER_ID, ROLE_ID)
		VALUES 
		<foreach collection="param" item="item" index="index" separator=",">
		(
		#{item.userId, jdbcType=VARCHAR},
		#{item.roleId, jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
	<delete id="deleteUserRolesByUserId">
		delete from USER_ROLE a where a.USER_ID = #{userId, jdbcType=VARCHAR}
	</delete>
</mapper>