<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.finance.mapper.IUserMapper">
	<resultMap type="com.myself.finance.entity.User" id="userResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="USERNAME" property="username" jdbcType="VARCHAR" />
<result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
<result column="EMAIL" property="email" jdbcType="VARCHAR" />
<result column="PHONE" property="phone" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="LEVEL" property="level" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="sqlQuery">
		FROM USER a where 1=1
		<if test="param.username != null and param.username != ''">
			and a.USERNAME = #{param.username}
		</if>
	</sql>
	
	<select id="getData" resultMap="userResult">
		SELECT a.* FROM USER a WHERE a.ID = #{param.id}
	</select>
	<select id="getDataByUsername" resultMap="userResult">
		SELECT a.* FROM USER a WHERE a.USERNAME = #{param.username}
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="userResult">
		SELECT a.* <include refid="sqlQuery"/> 
			order by a.CREATE_TIME desc limit #{start}, #{end}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO USER (ID, NAME, USERNAME, ACCOUNT, PASSWORD, STATUS, CREATE_TIME)
		VALUES (
#{id, jdbcType=VARCHAR},
#{name, jdbcType=VARCHAR},
#{username, jdbcType=VARCHAR},
#{account, jdbcType=VARCHAR},
#{password, jdbcType=VARCHAR},
#{status, jdbcType=VARCHAR},
#{createTime, jdbcType=TIMESTAMP})
	</insert>
	
	<update id="update">
		update USER a
		<set>
		<if test="param.name != null and param.name != ''">
			a.NAME = #{param.name},
		</if>
		<if test="param.email != null and param.email != ''">
			a.EMAIL = #{param.email},
		</if>
		<if test="param.phone != null and param.phone != ''">
			a.PHONE = #{param.phone}
		</if>
		</set>
		where a.ID = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<delete id="delete">
		delete from USER a where a.ID = #{param.id, jdbcType=VARCHAR}
	</delete>
</mapper>